* {
  margin: 0px;
}
body {
  background-color: #ffffff;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

body header nav {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}

/* nav bar design */
header nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
header nav ul li {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
.btn {
  color: white;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.18);
  transition: transform 0.1s;
} /*hover effect*/
.btn:hover {
  transform: scale(1.1);
  background-color: #1e5f39;
}
.banner-button #button-right {
  border: 1px solid white;
  background: transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.18);
}
.banner-button #button-right i {
  margin-right: 10px;
  vertical-align: bottom;
}

#button-right:hover {
  color: #469165;
  border: 1px solid #1e5f39;
}
header nav ul li:hover {
  transform: scale(1.2);
  font-weight: bolder;
  color: purple;
}
/* nav bar design */
header section {
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  padding: 70px 120px 134px 120px;
  height: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  /* border: 3px solid white; */

  text-align: center;
  padding: 40px;
}
.heading {
  font-size: 72px;
  font-weight: 700;
  color: white;
  margin: 16px 0;
}
section .heading span {
  color: #469165;
}
header section .paragraph {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}
.banner-button button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  margin-right: 16px;
  background-color: #469165;
  color: white;
}

.Early {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 1000px;
  width: 229px;
}

.box-for-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Early p {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
}
/* crating dot int the early box */
.Early .dot {
  height: 16px;
  width: 16px;
  background-color: rgba(70, 145, 101, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot div {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgba(70, 145, 101, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot div div {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: rgba(70, 145, 101, 1);
}
/* ends of crating dot int the early box  */
.main-heading {
  text-align: center;
  margin-top: 50px;
}
.main-heading h4 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.main-heading p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 20px;
}
.mother-div {
  display: flex;
  padding: 44px 120px 120px 120px;
  gap: 24px;
}
.child-div {
  text-align: center;
  padding: 24px;
  /* border: 1px solid black; */
  border-radius: 8px;
  max-width: 300px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s;
}
.child-div:hover {
  transform: scale(1.1);
}

.child-div .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.child-div .icon div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #f95555;
  border-radius: 50%;
}
.child-div h6 {
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0;
}
.child-div p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 30px;
}
/* brain-section */
.brain-container {
  padding: 120px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.brain-container .brain-options {
  padding: 102px 0;
}
#solution {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
}
.brain-options h4 {
  margin: 16px 0;
  font-size: 48px;
  font-weight: bold;
}
.brain-options p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 40px;
}
.brain-options ul li {
  list-style: none;
  gap: 10px;
}
.brain-options ul li img {
  vertical-align: middle;
  margin-right: 6px;
}
.brain-options ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 0px;
  margin-left: 0px;
}

/* Advance -section */
.advance-section {
  padding: 0 120px 120px 120px;
}
.advance {
  /* border: 1px solid black; */
  padding: 80px 40px;
  text-align: center;
  background-color: #f7f6f2;
}
.advance h4 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.advance p {
  font-size: 16px;
  color: #627382;
  margin: 24px;
}
.btn i {
  vertical-align: bottom;
  margin-left: 5px;
}
/* Footer section starts */
footer section {
  padding: 120px 120px 30px 120px;
  background-color: #001931;
}
footer .mother {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  color: white;
}
.m-of-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 16px;
}
.m-of-icons a {
  text-decoration: none;
  color: white;
}
footer section {
  padding-bottom: 0px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 30px 0;
  border-top: 1px solid #627382;
}
.copyright p {
  font-size: 16px;
  font-weight: 400;
}
